{% extends 'base.html.twig' %}

{% block title %}Jouer - English Battle{% endblock %}
{% block metadescription %}<meta name="description" content="English batlle est un jeu conçu pour se defier entre amis ou camarades sur les verbes irréguliers en anglais">{% endblock %}

{% block body %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="before-play text-center col-sm-8 col-sm-offset-2">
                    <span class="login100-form-title" style="padding-bottom: 20px;">
                        Bonjour {{ user.username }}
                    </span>
                    {% set userBestScore = 0 %}
                    {% for bestScore in user.scores %}
                        {% if userBestScore < bestScore.score %}
                            {% set userBestScore = bestScore.score %}
                        {% endif %}
                    {% endfor %}
                    <h5 class="best-score">
                        <div><strong>Meilleur score : </strong>{{ userBestScore }}</div>
                        <div><strong>Parties jouées: </strong>{{ user.scores | length }}</div>
                    </h5>
                    <h4 class="leaderboard">Leaderboard :</h4>
                    {% for leader in leaders %}
                        <div class="medals-{{ loop.index }}">
                            <h4>
                                <img src="{{ asset('assets/img/' ~ loop.index ~ '.png') }}"><strong>{{ leader.user.username }}</strong>
                                : {{ leader.score }}</h4>
                        </div>
                    {% endfor %}
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn play-btn">
                            Jouer !
                        </button>
                    </div>
                    <div class="text-center p-t-20">
                        <a class="txt2" href="{{ path('fos_user_security_logout') }}">
                            Deconnexion
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="play col-md-12 col-sm-8 col-sm-offset-2">
                    {#timer#}
                    <div class="col-md-12 text-center container-circle">
                        <div id="countdown"></div>
                    </div>
                    <span class="msg col-md-6 col-md-offset-3 text-center"></span>
                    <div class="bonus"><img src="{{ asset('assets/img/bonus.png') }}"></div>
                    <div class="malus"><img src="{{ asset('assets/img/malus.png') }}"></div>

                    <form name="game col-sm-8 col-sm-offset-2" action="#">
                        <div class="col-md-12">
                            <h3 class="base-verbale col-md-3"></h3>
                            <div class="wrap-input100-game col-md-4">
                                <input class="input100-game" type="text" id="preterit" name="preterit"
                                       placeholder="Prétérit" autocomplete="off">
                            </div>
                            <div class="wrap-input100-game col-md-4">
                                <input class="input100-game" type="text" id="participe" name="participe"
                                       placeholder="Participe passé" autocomplete="off">
                            </div>
                        </div>
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn validate-btn">
                                Valider
                            </button>
                            <button class="login100-form-btn pass-btn">
                                Passer
                            </button>
                        </div>
                    </form>
                    <div class="col-md-4 col-md-offset-4 text-center counter-container">
                        <h4>Score : <span class="counter">0</span></h4>
                    </div>
                </div>
                <div class="end-game col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 text-center">
                    <h2>Temps écoulé !</h2>
                    <h3>Score final : <span class="counter">0</span></h3>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn retour-btn">
                            Retour
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        counter = 0;
        var countdown = $("#countdown").countdown360({
            radius: 60.5,
            seconds: 60,
            strokeWidth: 15,
            label: ['seconde', 'secondes'],
            fillStyle: '#4258D0',
            strokeStyle: '#C451C1',
            fontSize: 50,
            fontColor: '#FFFFFF',
            autostart: false,
            smooth: true,
            onComplete: function () {
                endGame();
                $('.play').css('display', 'none');
                $('.end-game').css('display', 'block');
                words = [];
            }
        });
        $('.play-btn').on('click', function (e) {
            words = [];
            createGame();
            getWord();
            $('.before-play').hide();
            $('.play').css('display', 'block');
            countdown.start();
        });

        $('.validate-btn').on('click', function (e) {
            e.preventDefault();
            verifyWord()
        });

        $('.pass-btn').on('click', function (e) {
            e.preventDefault();
            $(".malus").fadeIn(1000).fadeOut(1000);
            countdown.extendTimer(-5);
            getWord();
        });

        $('.retour-btn').on('click', function (e) {
            window.location.replace('/battle');
        });

        $('#preterit').on('click', function (e) {
            $('#preterit').css('border', 'none');
        });

        $('#participe').on('click', function (e) {
            $('#participe').css('border', 'none');
        });

       $(window).on('blur', function () {
           if ($('.play').css('display') !== 'none') {
               counter = 0;
               endGame();
               $('.play').css('display', 'none');
               $('.end-game').css('display', 'block');
               $('.end-game').find('h2').html("<img class='cheat-img' src='{{ asset('assets/img/cheat.png') }}'/>");

           }

       });

        function getWord() {
            $('#participe').val('');
            $('#preterit').val('');
            $.ajax({
                url: '{{ path('get_word') }}',
                method: 'POST',
                dataType: 'JSON',
                data: {
                    wordsTab: words
                },
                success: function (data) {
                    $('.base-verbale').html(data.base);
                    wordId = data.id;

                }
            });
        }

        function createGame() {
            $.ajax({
                url: '{{ path('create_game') }}',
                method: 'POST',
                dataType: 'JSON',
                success: function (data) {
                    gameId = data
                }
            });
        }

        function endGame() {
            $.ajax({
                url: '{{ path('end_game') }}',
                method: 'POST',
                dataType: 'JSON',
                data: {
                    gameId: gameId,
                    score: counter
                },
                success: function (data) {
                    $('.counter').html(counter);
                }
            });
        }

        function verifyWord() {
            $.ajax({
                url: '{{ path('verify_word') }}',
                method: 'POST',
                dataType: 'JSON',
                data: {
                    preterit: $('#preterit').val(),
                    participe: $('#participe').val(),
                    verbeId: wordId
                },
                success: function (data) {
                    if (data.preterit === "error") {
                        $('#preterit').css('border', '1px solid red');
                    } else {
                        $('#preterit').css('border', '1px solid lightgreen');
                    }

                    if (data.participe === "error") {
                        $('#participe').css('border', '1px solid red');
                    } else {
                        $('#participe').css('border', '1px solid lightgreen');
                    }

                    if (data.participe === "success" && data.preterit === "success") {
                        countdown.extendTimer(3);
                        words.push(wordId);
                        $(".bonus").fadeIn(1000).fadeOut(1000);
                        $('#preterit').css('border', 'none');
                        $('#participe').css('border', 'none');
                        getWord();
                        counter = counter + 1;
                        $('.counter').html(counter);
                        $('#preterit').focus();
                        if (counter === 5) {
                            $('.msg').html("C'est un bon début, continue !");
                        } else if (counter === 20) {
                            $('.msg').html("Les verbes irréguliers commencent a rentrer ! Félicitations")
                        } else if (counter === 161) {
                            $('.msg').html("Incroyable ! Tu connais parfaitement tes verbes irréguliers ! Chapeau")
                        }

                    }
                }
            });
        }
    </script>
{% endblock %}

