{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}
{% block title %}Inscription - English Battle{% endblock %}
{% block body %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <span class="login100-form-title">
                    Inscription
                </span>
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register register100-form validate-form p-t-10', 'novalidate': 'novalidate'}}) }}
                {{ form_errors(form) }}
                <div class="wrap-input100 validate-input">
                    {{ form_errors(form.firstname) }}
                    {{ form_widget(form.firstname, {'attr' : {'class': 'input100', 'placeholder': 'Prénom'}}) }}
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input">
                    {{ form_errors(form.lastname) }}
                    {{ form_widget(form.lastname, {'attr' : {'class': 'input100', 'placeholder': 'Nom'}}) }}
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input">
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username, {'attr' : {'class': 'input100', 'placeholder': "Nom d'utilisateur"}}) }}
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input">
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email, {'attr' : {'class': 'input100', 'placeholder': 'Email'}}) }}
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input">
                    {{ form_errors(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first, {'attr' : {'class': 'input100', 'placeholder': 'Mot de passe'}}) }}
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input">
                    {{ form_errors(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second, {'attr' : {'class': 'input100', 'placeholder': 'Confirmation'}}) }}
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input">
                    {#<input type="text" class="input100 city" name="_city" placeholder="Ville">#}
                    {{ form_widget(form.city, {'attr' : {'style': 'display: none'}}) }}
                    <select class="input100 city" name="fos_user_registration_form[city]" required></select>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Inscription
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $('.city').select2({
            minimumInputLength: 3,
            ajax: {
                url : "{{ path('search-city') }}", // on appelle le script JSON
                dataType : 'json', // on spécifie bien que le type de données est en JSON
                data: function (params) {
                    var query = {
                        q: params.term
                    };
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: $.map(data, function (key, item) {
                            return {
                                text: key,
                                id: item
                            }
                        })
                    };
                }
                // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
            },
            placeholder: 'Ville'
        });
    </script>
{% endblock %}