{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}
{% block title %}English Battle{% endblock %}
{% block metadescription %}<meta name="description" content="English batlle est un jeu conçu pour se defier entre amis ou camarades sur les verbes irréguliers en anglais">{% endblock %}
{% block body %}
    <div class="limiter">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="container-login100">
            <div class="wrap-login100 wrap-home">
                <div class="col-md-12 text-center home-text">
                    <h1>English Battle</h1>
                    <h2>Defiez vos amis sur les verbes irréguliers</h2>
                    <h3>1 min de quizz pour en trouver un maximum !</h3>
                </div>
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="{{ asset('assets/img/img-01.png') }}" alt="IMG">
                </div>

                <form class="login100-form validate-form p-t-10 col-sm-12" action="{{ path("fos_user_security_check") }}" method="POST">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    <span class="login100-form-title">
						Connexion
					</span>

                    <div class="wrap-input100 validate-input" data-validate = "Un email valable est requis: ex@abc.xyz">
                        <input class="input100" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Nom d'utilisateur" required="required">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate = "Le mot de passe est requis">
                        <input class="input100" type="password" id="password" name="_password" required="required" placeholder="Mot de passe">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Connexion
                        </button>
                    </div>

                    <div class="text-center p-t-12">
                        <a class="txt2" href="#">
                            Email / Mot de passe
                        </a>
                        <span class="txt1">
							Oublié ?
						</span>
                    </div>

                    <div class="text-center p-t-40">
                        <a class="txt2" href="{{ path('fos_user_registration_register') }}">
                            Inscription
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
{% endblock %}
